* {
    margin: 0px;
    padding: 0px;
}

body {
    color: blue;
}

li {
    color: red;
}

div > div:first-child > p:nth-child(2) {
    color: green;
}

.cool-style {
    background-color: aquamarine;
}
